<section class="blog-list mtb-40">
    <div class="container">
      <h1><b>{{title}}</b></h1>
      <div class="row">
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/image/11.jpg" alt="blog1" />
            <h2>Wild Mushroom kagu with Cheesy Polenta</h2>
            <h2>Cost- {{3.5 | currency }}</h2>
            <a routerLink="/details" routerLinkActive="active" class="btn btn-danger">Order Now</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/image/22.jpg" alt="blog1" />
            <h2>Skillet roasted butternut squash with spiced chickpeas</h2>
            
            <h2>Cost- {{2.25 | currency }}</h2>
            <a routerLink="/details" routerLinkActive="active" class="btn btn-danger">Order Now</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/image/33.jpg" alt="blog1" />
            <h2>CabbageSteaks</h2>
           
            <h2>Cost- {{4.3 | currency }}</h2>
            <a routerLink="/details" routerLinkActive="active" class="btn btn-danger">Order Now</a>
          </div>
        </div>
        <h1><b>{{title1}}</b></h1>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/image/1.jpg" alt="blog1" />
            <h2>Chicken Chettined</h2>
            
            <h2>Cost- {{2.25 | currency }}</h2>
            <a routerLink="/details" routerLinkActive="active" class="btn btn-danger">Order Now</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/image/5.jpg" alt="blog1" />
            <h2>Hyderabadi Biriyani</h2>
            
            <h2>Cost- {{3.8 | currency }}</h2>
            <a routerLink="/details" routerLinkActive="active" class="btn btn-danger">Order Now</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/image/4.jpg" alt="blog1" />
            <h2>Chicken Nizami</h2>
           
            <h2>Cost- {{1.9 | currency }}</h2>
            <a routerLink="/details" routerLinkActive="active" class="btn btn-danger">Order Now</a>
          </div>
        </div>
        <h1><b>{{title2}}</b></h1>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/image/111.jpg" alt="blog1" />
            <h2>Cherry damp cake</h2>
            
            <h2>Cost- {{4.25 | currency }}</h2>
            <a routerLink="/details" routerLinkActive="active" class="btn btn-danger">Order Now</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/image/222.jpg" alt="blog1" />
            <h2>Banana split kebabs</h2>
            
            <h2>Cost- {{3.25 | currency }}</h2>
            <a routerLink="/details" routerLinkActive="active" class="btn btn-danger">Order Now</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/image/333.jpg" alt="blog1" />
            <h2>Smores casserole</h2>
            
            <h2>Cost- {{4.15 | currency }}</h2>
            <a routerLink="/details" routerLinkActive="active" class="btn btn-danger">Order Now</a>
          </div>
        </div>
        <h1><b>{{title5}}</b></h1>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/image/1111.jpg" alt="blog1" />
            <h2>Kakori Kebabs</h2>
            
            <h2>Cost- {{2.25 | currency }}</h2>
            <a routerLink="/details" routerLinkActive="active" class="btn btn-danger">Order Now</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/image/2222.jpg" alt="blog1" />
            <h2>Paneer Tikkas</h2>
            
            <h2>Cost- {{1.5 | currency }}</h2>
            <a routerLink="/details" routerLinkActive="active" class="btn btn-danger">Order Now</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/image/3333.jpg" alt="blog1" />
            <h2>Cheese Balls</h2>
            
            <h2>Cost- {{5.25 | currency }}</h2>
            <a routerLink="/details" routerLinkActive="active" class="btn btn-danger">Order Now</a>
          </div>
        </div>
        <h1><b>{{title3}}</b></h1>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/image/4444.jpg" alt="blog1" />
            <h2>Chicken Satay</h2>
            
            <h2>Cost- {{1.25 | currency }}</h2>
            <a routerLink="/details" routerLinkActive="active" class="btn btn-danger">Order Now</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/image/444.jpg" alt="blog1" />
            <h2>Blueberry Peach Cobbler</h2>
            
            <h2>Cost- {{2.25 | currency }}</h2>
            <a routerLink="/details" routerLinkActive="active" class="btn btn-danger">Order Now</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/image/2.jpg" alt="blog1" />
            <h2>Chicken Tikka Tawa Pulav</h2>
            
            <h2>Cost- {{2.5 | currency }}</h2>
            <a routerLink="/details" routerLinkActive="active" class="btn btn-danger">Order Now</a>
          </div>
        </div>
        <h1><b>{{title4}}</b></h1>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/image/6.jpg" alt="blog1" />
            <h2>Prawns Kuzhambu</h2>
            
            <h2>Cost- {{3.25 | currency }}</h2>
            <a routerLink="/details" routerLinkActive="active" class="btn btn-danger">Order Now</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/image/66.jpg" alt="blog1" />
            <h2>Miso Tahini Squash Soup with Brown Rice</h2>
            
            <h2>Cost- {{1.45 | currency }}</h2>
            <a routerLink="/details" routerLinkActive="active" class="btn btn-danger">Order Now</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/image/5555.jpg" alt="blog1" />
            <h2>Chicken Wings</h2>
            
            <h2>Cost- {{4.25 | currency }}</h2>
            <a routerLink="/details" routerLinkActive="active" class="btn btn-danger">Order Now</a>
          </div>
        </div>
      </div>
    </div>
  </section>
