<mat-toolbar color="primary" class="mat-elevation-z8">
   
   <a class="navbar-brand" href="index.html">
      <img src="assets/image/imag1.png" >
   </a>
   <span>FOODY SERVICE</span>
   <div class="space"></div>
   <a  routerLink="/" routerLinkActive="active" class="nav-link"> <button mat-button color="accent" >HOME</button></a>
   
   <a  routerLink="/contact" routerLinkActive="active" class="nav-link" > <button mat-button color="accent" >CONTACT US</button></a>
   <a  routerLink="/page/about" routerLinkActive="active" class="nav-link" > <button mat-button color="accent" >ABOUT</button></a>
   <a  routerLink="/blog" routerLinkActive="active" class="nav-link" > <button mat-button color="accent">MENU CARD</button></a>
   <a  routerLink="/login" routerLinkActive="active" class="nav-link" > <button mat-raised-button color="accent">SIGN UP</button></a>

</mat-toolbar>