
  <section class="featured-blog mtb-40">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/image/veg.jpg" alt="blog1" />
            <h3>Vegetarian</h3>
            
            <p>Best Vegetarian Food in India. </p>
            <a  routerLink="/blog" routerLinkActive="active" class="btn btn-danger">MENU</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/image/nonvage.jpg" alt="blog1" />
            <h3>Non Vegetarian</h3>
            
            <p>Best Non Vegetarian Food in India.. </p>
            <a  routerLink="/blog" routerLinkActive="active" class="btn btn-danger">MENU</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/image/dessert.jpg" alt="blog1" />
            <h3>Dessert</h3>
           
            <p>Best Dessert Food in India. </p>
            <a  routerLink="/blog" routerLinkActive="active" class="btn btn-danger">MENU</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/image/three.jpg" alt="blog1" />
            <h3>30% Offer</h3>
            
            <p>Use the promo code FOODY30 and get 30% off. </p>
            <a  routerLink="/blog" routerLinkActive="active"class="btn btn-danger">MENU</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/image/two.jpg" alt="blog1" />
            <h3>20% Offer</h3>
            
            <p>Use the promo code FOODY20 and get 20% off. </p>
            <a  routerLink="/blog" routerLinkActive="active" class="btn btn-danger">MENU</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/image/star.jpg" alt="blog1" />
            <h3>Starter</h3>
            
            <p>Best Starter Food in India. </p>
            <a  routerLink="/blog" routerLinkActive="active" class="btn btn-danger">MENU</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  
